<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            TODOLIST
        </div>
        <form action="/" method="POST" class="forma">
            <button class="add" type="submit">+</button>
            <input type="text" autocomplete="off" placeholder="enter work" name="item" class="work">
        </form>
        <div class="items">
            <% for(let i=0;i <kindofitems.length;i++){%>
                <div class="item-box">

                    <input type="checkbox" name="todo" class="checkbox">

                    <div class="item">
                        <%=kindofitems[i] %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html>